* {
    margin: 0;
    padding: 0;
}

.container {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background-image: url(sky.jpg);
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    border-left: 10px inset orange;
    border-top: 10px inset white;
    border-right: 10px inset green;
    border-bottom: 10px inset white;
}

.text {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}

.t1 {
    background-color: orange;
}

.t2 {
    background-color: white;
}

.t3 {
    background-color: green;
}

.road {
    height: 200px;
    width: 1000%;
    background-image: url(road.jpg);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: road 10s linear infinite;
}

@keyframes road {
    100% {
        transform: translateX(-3500px);
    }
}

.build {
    height: 250px;
    width: 500%;
    background-image: url(city.png);
    display: block;
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: city 20s linear infinite;
}

@keyframes city {
    100% {
        transform: translateX(-1300px);
    }
}

.car {
    position: absolute;
    bottom: 180px;
    left: 35%;
    right: 35%;
    z-index: 1;
}

.tire {
    display: flex;
    bottom: 180px;
    left: 35%;
    right: 35%;
    z-index: 1;
    position: absolute;
}

.wheel1 {
    margin-left: 20px;
    margin-right: 10px;
}

.wheel2 {
    margin-left: 130px;
    margin-right: 10px;
}

.wheel {
    animation: tyre 100ms infinite;
}

@keyframes tyre {
    100% {
        transform: rotate(60deg);
    }
}

.flagpar {
    position: absolute;
    bottom: 245px;
    left: 51%;
    right: 35%;
    z-index: 1;
}

.sun {
    position: absolute;
    top: 70px;
    right: 0%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: sun 50s linear infinite;
}

@keyframes sun {
    100% {
        transform: translateX(-1300px)
    }
}